.sudoku-grid {
  display: inline-grid;
  grid-template-rows: repeat(9, 20px);
  grid-template-columns: repeat(9, 20px);
  margin: 0;
  padding: 0;
  place-items: stretch;
  background-color: black;
  outline: 2px solid black;
  column-gap: 2px;
  row-gap: 2px;
}

.sudoku-grid-cell {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}
